[buildout]
develop = .
parts = test interpreter
index = http://pypi.python.org/simple
extends = http://download.zope.org/zope3.4/versions.cfg
versions = versions
allow-picked-versions = false
use-dependency-links = false

[versions]
zope.testbrowser =
zope.publisher = 3.5.4
ClientForm = 0.2.10
mechanize = 0.1.10
setuptools = 0.6c9

[test]
recipe = zc.recipe.testrunner
defaults = ['--tests-pattern', '^f?tests$']
eggs = zope.testbrowser [test]

[interpreter]
recipe = zc.recipe.egg
eggs = zope.testbrowser
interpreter = py
