[buildout]
develop = .
parts = test
index = http://download.zope.org/zope3.4
extends = http://download.zope.org/zope3.4/3.4.0/versions.cfg
versions = versions

[versions]
# we always want the latest of these
zope.testbrowser =
zc.buildout =
setuptools =
zope.testing =
mechanize =

[test]
recipe = zc.recipe.testrunner
defaults = ['--tests-pattern', '^f?tests$']
eggs = zope.testbrowser [test]
